/vcpkg_installed/
/cmake-build-debug/
/cmake-build-release/
/.idea/
/.vscode/
/.vs/
/CMakeFiles/
/CMakeScripts/
/CMakeCache.txt
/CMakeCache.txt.lock
/CMakeCache.txt/
/.zed/
/build
/build_vs2022
/build_make
/.cache/
/compile_commands.json
